---
layout: default
---

<div class="home">
  {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

    <aside id="sidebar">
      {% if page.lang == 'fr' %}
        <a href="/archive/master.zip" class="button">
          <small>Télécharger</small>
        fichier .zip
        </a>
      {% endif %}
      
      {% if page.lang == 'en' %}
        <a href="/archive/master.zip" class="button">
          <small>Download</small>
        .zip file
        </a>
      {% endif %}

      <p class="repo-owner"><a href="https://blog.4d.com/">Blog</a></p>

      <p class="repo-owner"><a href="https://developer.4d.com/">Developer Center</a></p>

      <p class="repo-owner"><a href="https://doc.4d.com/">Documentation</a></p>

      <p class="repo-owner"><a href="https://forums.4d.com/MyHome/FR">Forum</a></p>

      <p class="repo-owner"><a href="https://kb.4d.com/">Knowledge Base</a></p>

      <p class="repo-owner"><a href="https://taow.4d.com/Home/home.fr.html">TAOW</a></p>

      <p class="repo-owner"><a href="https://fr.4d.com/">Website</a></p>

      <p class="repo-owner"><a href="https://github.com/CGareau/cgareau.github.io">Wiki</a> is maintained by <a href="https://github.com/CGareau">cgareau</a>.</p>
      
      {% if page.lang == 'en' %}
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      {% endif %}

      {% if page.lang == 'fr' %}
        <p class="rss-subscribe">s'abonner <a href="{{ "/flux.xml" | relative_url }}">via RSS</a></p>
      {% endif %}

    </aside>
  
    <div class="wrapper" style="text-align: right; line-height: 2em">
      {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
      {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}
    </div>

    <div class="wrapper" style="text-align: right; line-height: 2em">
      
      <p>
        <a href="{{ "/index.html" | relative_url }}">en</a>
        <a href="{{ "/accueil.html" | relative_url }}">fr</a>
      </p>

    </div>

  {% assign posts=site.posts | where:"lang", page.lang %}
  {%- if posts.size > 0 -%}
    {% if page.lang == 'fr' %}
      <h1 class="post-list-heading">{{ page.list_title | default: "Articles" }}</h1>
    {% endif %}
    {% if page.lang == 'en' %}
      <h1 class="post-list-heading">{{ page.list_title | default: "Blogs" }}</h1>
    {% endif %}
    
    {%- for post in posts -%}
      <h2>
        {% if page.lang == 'en' %}
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% endif %}
        {% if page.lang == 'fr' %}
          {%- assign date_format = site.minima.date_format | default: "%-d %b, %Y" -%}
        {% endif %}
        <span class="post-meta">{{ post.date | date: date_format }}</span> :
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    {%- endfor -%}

  {%- endif -%}

</div>
